<% provide(:title, "home") %>
<div class="row">
  <div class="col-md-9 main-area">
    <div class="row post-bar">
      <div class="col-md-5 the-tabs">
          <div class="post-tab">Recent Posts</div>
          <div class="post-tab">Selected Posts</div>
          <div class="post-tab">My Setting</div>
      </div>
      <div class="col-md-5">
        <form class="form-inline d-flex justify-content-center md-form form-sm">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
            aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>
      </div>
      <div class="col-md-2">
        <p class="btn btn-sm btn-success" id="new-post-btn">New Post</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ">

          <div class="blog-post">
          
            <div class="col-md-1 news-user-avatar"></div>

            <div class="col-md-11">

              <div class="row blog-post-info">
                <div class="col-md-12">
                  <h5 class="blog-post-title"><%= link_to "This is a generic blog post about stuff", '#', class: 'blog-post-title' %></h5>
                </div>
              </div>

              <div class="row blog-post-info">
                <div class="col-md-12">

                  <h6 class="col-md-2"><%= link_to "author name", '#' %></h6>
                  <h6 class="col-md-2"><%= link_to "00/00/2020", '#' %></h6>
                  <h6 class="col-md-2"><%= link_to "blog topic", '#' %></h6>
                  <h6 class="col-md-3 col-md-offset-3"><%= link_to "view count  topic count", '#' %></h6>

                </div>
              </div>

            </div>

          </div>

      </div>
    </div>

    <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
  <div class="col-md-3">

    <div class="row">

      <div class="right-side-bar recent-members-box">

        <div class="box-name">
          <div class="red-dash"></div>
          <p>Recent Members</p>
        </div>

        <div class="recent-12-users col-md-12">
            <% 12.times do %>
              <div class="recent-user-avatar">
                <div class="row">
                  <%= gravatar_for current_user, size: 50 %>
                </div>
                <div class="row">
                  <%= link_to current_user.name, current_user %>
                </div>
              </div>
            <% end %>
          
        </div>
        
      </div>

    </div>

    <div class="row">

      <div class="right-side-bar">
        <div class="box-name">
          <div class="red-dash"></div>
          <p>Topic</p>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="right-side-bar">
        <div class="box-name">
          <div class="red-dash"></div>
          <p>Post</p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="right-side-bar">
        <div class="box-name">
          <div class="red-dash"></div>
          <p>Link</p>
        </div>
      </div>
    </div>
  </div>
</div>

