<div class="col-md-12">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', obj:@user %>
    

    <div>

      <br>

      <div class="row">
        <div class="post-form-items col-md-7">
            <span class="col-md-4 "><%= f.label :password %></span>
            <span class="col-md-8 post-from"><%= f.password_field :password, class: 'form-control' %></span>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="post-form-items col-md-7">
            <span class="col-md-4 "><%= f.label :password_confirmation, "Confirmation" %></span>
            <span class="col-md-8 post-from"><%= f.password_field :password_confirmation, class: 'form-control' %></span>
        </div>
      </div>

      
      
    </div>

    <div class="row">
      <br>
      <%= f.submit "Confirm", class: "btn col-md-1 new-post-btn margin-left-15" %>
    </div>
  <% end %>
</div>