<div class="col-md-12">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', obj:@user %>
    <div>
      <div class="row">
        <div class="post-form-items col-md-7">
            <span class="col-md-4 "><%= f.label :name %></span>
            <span class="col-md-8 post-from"><%= f.text_field :name, class: 'form-control' %></span>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="post-form-items col-md-7">
            <span class="col-md-4 "><%= f.label :email %></span>
            <span class="col-md-8 post-from"><%= f.email_field :email, class: 'form-control' %></span>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="post-form-items col-md-7">
            <span class="col-md-4 "><%= f.label :phone_number %></span>
            <span class="col-md-8 post-from"><%= f.text_field :phone_number, class: 'form-control' %></span>
        </div>
      </div>

    </div>

  

    <div class="row">
      <br>
      <%= f.submit "Confirm", class: "btn col-md-1 new-post-btn margin-left-15" %>
    </div>
  <% end %>
</div>