<% provide(:title, @user.name) %>

<div class="row white-background" id="user-profile-top">
  <div class="center">
    <div class="row">
      <div class="center">
        <%= (gravatar_for @user, size: 80)%>
      </div>
    </div>

    <div class="row">
      <h3><%= @user.name %></h3>
    </div>

    <div class="row">
      <h6>last active: <%= @user.last_active %></h6>
    </div>

    <div class="row">
      <h6>city ????????????????????</h6>
    </div>

  </div>
</div>



<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>


<div class="row">
  <div class="col-md-6 user-info-section">
    <div class="post-bar-grey"> <%= @user.name %> Recent posts:</div>

    <div class="white-background user-info-section">
      
      <% @user.posts.each do |post| %>
        <div class="row">
          <div class="col-md-12">
            <span class="col-md-7"><%= post.title[0..25] %> 
            <%= "..." if post.title.length > 25 %></span>
            
              <span class="col-md-5"><%= post.created_at %></span> 
          </div>
        </div>
      <% end %>
    
    </div>
  </div>
  
  <div class="col-md-6 user-info-section">
    <div class="post-bar-grey"> <%= @user.name %> Recent comments:</div>
    <div class="white-background user-info-section"></div>
  </div>

</div>