<% provide(:title, "home") %>
<div class="row">
  <div class="col-md-9 main-area">
    <div class="row post-bar">
      <div class="col-md-5 the-tabs">
          <div class="post-tab selected" id="recent-posts-btn">Recent Posts</div>
          <div class="post-tab" id="selected-posts-btn">Selected Posts</div>
          <div class="post-tab">My Setting</div>
      </div>
      <div class="col-md-5">
        <form class="form-inline d-flex justify-content-center md-form form-sm">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
            aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>
      </div>
      <div class="col-md-2">
        <%= link_to "New Post", new_post_url,class: "btn btn-sm new-post-btn" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ">

          <div class="blog-post">
          
            <div class="col-md-1 news-user-avatar"><%= gravatar_no_user size: 45 %></div>

            <div class="col-md-11">

              <div class="row blog-post-info">
                <div class="col-md-12">
                  <h5 class="blog-post-title"><%= link_to "This is a generic blog post about stuff", '#', class: 'blog-post-title' %></h5>
                </div>
              </div>

              <div class="row blog-post-info">
                <div class="col-md-12">

                  <h6 class="col-md-2"><%= link_to "author name", '#' %></h6>
                  <h6 class="col-md-2">00/00/2020</h6>
                  <h6 class="col-md-2"><%= link_to "blog topic", '#' %></h6>
                  <h6 class="col-md-2 col-md-offset-2"><%= link_to "view count", '#' %></h6>
                  <h6 class="col-md-2"><%= link_to "topic count", '#' %></h6>

                </div>
              </div>

            </div>

          </div>

      </div>
    </div>
    
    <div class="row" id="recent-posts">
      <% if @posts.first%>
        <% @posts.each do |post| %>

          <% if(post.created_at > Date.today-30.days) %>
            <div class="row">
              <%= render post %>
            </div>
          <% end %>

        <% end %>

      <% end %>
    </div>

    <div class="row hide" id="selected-posts">
      <% if @posts.first%>
        <% @posts.each do |post| %>
          <% if post.topic.name != "News" %>
            <div class="row hide topic-<%= post.topic.name %>">
              <%= render post %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    

  </div>
  <div class="col-md-3">

    <div class="row">

      <div class="right-side-bar recent-members-box">

        <div class="box-name">
          <div class="red-dash"></div>
          <p>Recent Members</p>
        </div>

        <div class="recent-12-users col-md-12">
            <% if !!active_users %>
              <% active_users.each do |user| %>

                <div class="recent-user-avatar">
                  <div class="row">
                    <%= link_to (gravatar_for user, size: 45), user %>
                  </div>
                  <div class="row">
                    <%= link_to user.name, user %>
                  </div>
                </div>
              <% end %>
            <% end %>
          
        </div>
        
      </div>

    </div>

    <div class="row">

      <div class="right-side-bar">
        <div class="box-name">
          <div class="red-dash"></div>
          <p>Topic</p>
        </div>

        <div class="active-links col-md-12">

          <% post_topics[1..-1].each do |topic| %>
              <div class="link-icon" id="topic-<%= topic[0] %>"><%= topic[0] %></div>
          <% end %>
          

        </div>


      </div>

    </div>

    <div class="row">

      <div class="right-side-bar">
        <div class="box-name">
          <div class="red-dash"></div>
          <p>Post</p>
        </div>
      
        <% top_viewed_posts.each do |post| %>
          <div class="row">
            <div class="col-md-12">
              <span class="col-md-8"><%= post.title[0..22] %> 
              <%= "..." if post.title.length > 22 %></span>
              
               <span class="col-md-4">view: <%= post.view_count %></span> 
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <div class="row">
      <div class="right-side-bar">
        <div class="box-name">
          <div class="red-dash"></div>
          <p>Link</p>
        </div>

        <div class="active-links col-md-12">

          <a href="https://www.rmit.edu.au/">
            <div class="link-icon">RMIT</div>
          </a>

          <a href="https://rubyonrails.org/">
            <div class="link-icon">Rails</div>
          </a>

          <a href="https://www.youtube.com/">
            <div class="link-icon">YouTube</div>
          </a>

          <a href="http://www1.rmit.edu.au/courses/051833">
            <div class="link-icon">RAD</div>
          </a>

          <a href="https://www.ruby-lang.org/en/">
            <div class="link-icon">Ruby</div>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
let topicIcons = document.querySelectorAll(".link-icon");
let recentPostsBtn = document.querySelectorAll("#recent-posts-btn");
let selectedPostsBtn = document.querySelectorAll("#selected-posts-btn");
let recentPosts = document.querySelectorAll("#recent-posts");
let selectedPosts = document.querySelectorAll("#selected-posts");


// topicIcons[0].addEventListener("click", event =>(selectedElement(topicIcons[0])))

topicIcons.forEach(topic => {
  topic.addEventListener("click", event => {
    selectedElement(topic);
    selectedTopic(topic);
    singlePostToggle(topic);
    })
});



// recentPostsBtn[0].addEventListener("click", event => {
//   selectedElement(recentPostsBtn[0]);
// });

recentPostsBtn[0].addEventListener("click", event => {
  selectedPostsBtn[0].classList.remove("selected");
  recentPostsBtn[0].classList.add("selected");
  selectedPost();
});

selectedPostsBtn[0].addEventListener("click", event => {
  recentPostsBtn[0].classList.remove("selected");
  selectedPostsBtn[0].classList.add("selected");
  selectedPost();
});


function selectedElement(element) {
    element.classList.toggle("selected");
}


//TODO: might not need this
function selectedTopic(element) {
    element.classList.toggle("selected-topic");
}

function selectedPost() {
  recentPosts[0].classList.toggle("hide");
  selectedPosts[0].classList.toggle("hide");
}

function singlePostToggle(element) {
  let topicString = ".topic-" + element.innerText;
  let topicPosts = document.querySelectorAll(topicString);
  topicPosts.forEach(post => {
    post.classList.toggle("hide");
  });
}

</script>